.text_color {
  font-weight: bold;
  text-align: right;
}

ul {
  list-style: none;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  display: inline;
}

p {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

#navbarSupportedContent .navbar-nav .nav-link {
  color: rgb(64, 89, 133);
  transition: all 1s;
}
#navbarSupportedContent .navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

.navbar-collapse {
  flex-grow: 0;
}

.text_color {
  font-size: 3rem;
}

.box__bootstrap {
  border-top: rgb(64, 89, 133) solid 0.5rem;
}

.main_servicios {
  padding-right: 5rem;
}

.container__blog h3 {
  text-align: center;
}

.form_container {
  font-size: 1.5rem;
  background-image: url("../images/plantadetratamiento.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  background-color: aliceblue;
  width: 30rem;
  border-radius: 1rem;
  opacity: 0.85;
}

button {
  background-color: white;
  width: 100%;
  margin: 0.1rem;
  border-radius: 1rem;
  border-color: rgb(64, 89, 133);
}

.form_container input, select, option {
  border-color: rgb(64, 89, 133);
  border-radius: 0.5rem;
  padding-bottom: 0rem;
  margin: 0.1rem;
  width: 100%;
}

.form_container textarea {
  border-radius: 0.5rem;
  border-color: rgb(64, 89, 133);
  width: 100%;
}

.service__transition {
  transition: all 2s;
}
.service__transition:hover {
  transform: scale(1.2);
}

.contenedor {
  display: grid;
  width: 120rem;
  height: 100%; /*ocupa el alto de la pantalla*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.item {
  border: 3px solid white;
  padding: 5%;
  font-family: sans-serif, Arial, Helvetica;
  color: white;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(135deg, rgb(97, 234, 222) 0%, rgb(30, 168, 255) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 1326px) {
  body {
    width: 100%;
    height: auto;
  }
  .main_servicios h5 {
    font-size: 1.8rem;
  }
  .service__transition {
    font-size: 1.6rem;
  }
  .main_blog p {
    font-size: 1.3rem;
    font-weight: none;
  }
}
@media (max-width: 1030px) {
  .container__blog {
    width: 80%;
  }
  .service_list {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
  }
  .main_servicios h5 {
    font-size: 1.3rem;
  }
  .service__transition {
    font-size: 1.3rem;
  }
  .main_blog p, .main_blog h5, h3 {
    font-size: 1.1rem;
    font-weight: none;
  }
}
@media (max-width: 920px) {
  .container-fluid {
    font-size: 1rem;
  }
  section h1 {
    display: none;
  }
  .service__transition {
    font-size: 1.2rem;
  }
  .main_blog p, .main_blog h5, h3 {
    font-size: 0.9rem;
    font-weight: none;
  }
}
@media (max-width: 768px) {
  footer div p {
    font-size: 1.5rem;
  }
  .footer_contact div, p, iframe {
    width: 100%;
  }
  .footer_contact div img {
    width: 15%;
  }
  .main_servicios p {
    font-size: 1rem;
  }
  .main_servicios h5 {
    font-size: 1.1rem;
    font-weight: none;
  }
  .service__transition {
    font-size: 1rem;
  }
  .main_blog p, .main_blog h5, h3 {
    font-size: 0.9rem;
    font-weight: none;
  }
}
@media (max-width: 560px) {
  .service__transition h3 {
    font-size: 0.7rem;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  div .logo {
    background-position: center;
  }
  .main_servicios p {
    font-size: 0.7rem;
  }
  .main_servicios h5 {
    font-size: 0.8rem;
    font-weight: none;
  }
  .service__transition {
    font-size: 1rem;
  }
  .main_blog p, .main_blog h5, h3 {
    font-size: 0.8rem;
  }
}
@media (max-width: 380px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .main_servicios p {
    display: none;
  }
  .main_blog p, .main_blog h5, h3 {
    font-size: 0.5rem;
  }
}
footer {
  width: 100%;
  padding: 2rem 0px;
  background-color: aliceblue;
  background-size: cover;
}
footer .container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 140rem;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 6rem;
  background: -webkit-linear-gradient to right, #50b6b6, #3f475f;
  background: linear-gradient(to right, #50b6b6, #3f475f);
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.box__footer .logo img {
  width: 12rem;
  margin-top: 4rem;
}
.box__footer .terms p {
  max-width: 25rem;
  margin-top: 0rem;
  font-weight: 200;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
}
.box__footer h2 {
  margin-bottom: 1.5rem;
  color: aliceblue;
  font-weight: 700;
}
.box__footer a {
  margin-top: 1.5rem;
  color: aliceblue;
  font-weight: 700;
  transition: all 2s;
}
.box__footer a:hover {
  opacity: 0.6;
}
.box__footer .fab {
  font-size: 2rem;
}

.box__copyright {
  max-width: 140rem;
  margin: auto;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.box__copyright p {
  margin-top: 2rem;
  color: #7a7a7a;
  font-size: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, Tahoma, Verdana;
}

.main_noticias, .main_index, .main_servicios, .main_blog {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
