$gradiente:(
    gradient1: linear-gradient(135deg, rgb(97, 234, 222) 0%, rgb(30, 168, 255) 100%),
    gradient2: -webkit-linear-gradient (to right, #50b6b6, #3f475f),
    gradient3: linear-gradient(to right, #50b6b6, #3f475f),
)
