
ul {
    list-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    display:inline
  }

p {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
#navbarSupportedContent{
  .navbar-nav {
     .nav-link{
        color:$azul64;
        transition: all 1s;
        &:hover{
            transform: scale(1.1);
        }
 }
}
}
.navbar-collapse{
  flex-grow: 0;
}
  

