
ul {
    list-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    display:inline
  }

p {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
#navbarNav{
  .navbar-nav {
     .nav-link{
        color:$azul64;
 }
}
}
.navbar-collapse{
  flex-grow: 0;
}
  

